@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

            <!-- Right menu -->
        <div style="display: flex;align-items: center;">
            <h1 class="text-black bg-transparent rounded-lg px-3 py-1.5 hover:text-white hover:bg-gray-800 cursor-pointer hover:bg-opacity-30 transition-colors mr-2">
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </h1>
            <h1 class="text-black bg-transparent rounded-lg px-3 py-1.5 hover:text-white hover:bg-gray-800 cursor-pointer hover:bg-opacity-30 transition-colors mr-2">
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </h1>
            <a href ="@Url.Action("CheckoutDetails","ShoppingCart")" class="flex relative items-center" href="" style="font-weight: 600;text-transform: uppercase;margin-right: 10px;">
                <img class="pr-2" src="/Content/images/shopping-cart.png" alt="" width="25">
              
            </a>
        </div>

    }
}
else
{
           <!-- Right menu -->
    <div style="display: flex;align-items: center;">
        <h1 class="text-black bg-transparent rounded-lg px-3 py-1.5 hover:text-white hover:bg-gray-800 cursor-pointer hover:bg-opacity-30 transition-colors mr-2">
            @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
        </h1>
        <h1 class="text-black bg-transparent rounded-lg px-3 py-1.5 hover:text-white hover:bg-gray-800 cursor-pointer hover:bg-opacity-30 transition-colors mr-2">
            @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </h1>
        <a href="@Url.Action("CheckoutDetails","ShoppingCart")" class="flex relative items-center" href="" style="font-weight: 600;text-transform: uppercase;margin-right: 10px;">
            <img class="pr-2" src="/Content/images/shopping-cart.png" alt="" width="25">
            <!-- <p class="absolute -top-3 right-1 flex items-center justify-center bg-red-600 text-white h-5 w-5 text-sm font-bold rounded-full">

        </p> -->
        </a>
    </div>
}
